absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.7.6
antlr4-python3-runtime==4.8
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
autopage==0.5.1
boto3==1.21.2
botocore==1.24.2
Box2D==2.3.10
CacheControl==0.12.10
cachetools==5.0.0
cachy==0.3.0
certifi==2021.10.8
charset-normalizer==2.0.11
cleo==0.8.1
click==8.1.3
click-plugins==1.1.1
cliff==3.10.1
cligj==0.7.2
clikit==0.6.2
cloudpickle==2.0.0
cmaes==0.8.2
cmd2==2.4.1
cmocean==2.0
colorama==0.4.4
colorlog==6.6.0
commonmark==0.9.1
crashtest==0.3.1
cycler==0.11.0
dadapy==0.1.0
dash==2.8.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
databricks-cli==0.16.4
distlib==0.3.4
docker==5.0.3
efficientnet-pytorch==0.7.1
einops==0.4.0
entrypoints==0.4
filelock==3.6.0
Fiona==1.9.1
Flask==2.0.2
fonttools==4.29.1
frozenlist==1.3.0
fsspec==2022.1.0
future==0.18.2
fuzzy-c-means==1.6.3
geojson==3.0.1
geopandas==0.10.2
gitdb==4.0.9
GitPython==3.1.26
google-auth==2.6.0
google-auth-oauthlib==0.4.6
graphviz==0.20.1
greenlet==1.1.2
grpcio==1.43.0
gym==0.7.4
helper==2.5.0
html5lib==1.1
hydra-core==1.1.1
idna==3.3
imageio==2.16.0
imgaug==0.4.0
importlib-metadata==4.11.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
joypy==0.2.6
jsonschema==4.4.0
keyring==23.5.0
kiwisolver==1.3.2
labml==0.4.144
labml-helpers==0.4.84
labml-nn==0.4.118
latextable==1.0.0
llvmlite==0.38.1
lockfile==0.12.2
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.0.1
marshmallow==3.14.1
matplotlib==3.5.1
mlflow==1.24.0
moonlight==0.2.1
mpmath==1.2.1
msgpack==1.0.3
multidict==6.0.2
munch==2.5.0
networkx==2.6.3
numba==0.55.2
numpy==1.21.5
oauthlib==3.2.0
omegaconf==2.1.1
opencv-python==4.5.5.62
optuna==2.10.1
packaging==20.9
pandas==1.3.5
pastel==0.2.1
pbr==5.9.0
pexpect==4.8.0
Pillow==9.0.1
pkginfo==1.8.2
platformdirs==2.5.1
plotly==5.9.0
poetry==1.1.13
poetry-core==1.0.8
prettytable==3.3.0
prometheus-client==0.13.1
prometheus-flask-exporter==0.18.7
protobuf==3.19.4
ptyprocess==0.7.0
puremagic==1.12
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.9.1
pyDeprecate==0.3.1
pyglet==2.0.0
Pygments==2.12.0
pylev==1.4.0
pynndescent==0.5.7
pyparsing==3.0.7
pyperclip==1.8.2
pyproj==3.2.1
pyreadline3==3.4.1
pyrsistent==0.18.1
python-dateutil==2.8.2
pytorch-lightning==1.5.10
pytz==2021.3
PyWavelets==1.2.0
pywin32==227
pywin32-ctypes==0.2.0
PyYAML==6.0
querystring-parser==1.2.4
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rich==12.5.1
rsa==4.8
s3transfer==0.5.1
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
Shapely==1.8.1.post1
shellingham==1.4.0
six==1.16.0
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
SQLAlchemy==1.4.31
sqlparse==0.4.2
stevedore==3.5.0
sympy==1.10.1
tabulate==0.8.9
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
texttable==1.6.7
threadpoolctl==3.1.0
tifffile==2021.11.2
tomlkit==0.10.0
torch==1.10.2
torchaudio==0.10.2
torchmetrics==0.7.2
torchsummary==1.5.1
torchtext==0.11.2
torchvision==0.11.3
torchviz==0.0.2
tqdm==4.62.3
typer==0.3.2
typing_extensions==4.0.1
umap-learn==0.5.3
urllib3==1.26.8
virtualenv==20.13.4
waitress==2.0.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.0.3
whylabs-client==0.3.0
whylabs-datasketches==2.2.0b1
whylogs==0.6.28
xlrd==2.0.1
XlsxWriter==3.0.2
yarl==1.7.2
zipp==3.7.0
